<div class="form-registration">
    <h2>Register Form</h2>
     <form {{form.attributes}} id="{{form['#id']}}" method="{{ form['#method'] }}" action="{{ form['#action'] }}">
        {{ form.last_name }}
        {{ form.first_name }}
        {{ form.sex }}
        {{ form.company_name }}
        {{ form.phone }}
        {{ form.email }}
        {{ form.node_id }}
        {{ form|without('last_name', 'first_name', 'company_name', 'phone', 'email', 'node_id', 'sex') }}
    </form>
</div>